body{
    background-color: rgb(235, 226, 226);
}
#wrapper{
    width: 1500px;
    margin: auto;
}
#txtUsername{
    background-color: transparent;
    border: 1px solid black;
}

#left,#right{
    min-height: 650px;
}
#left{
    width: 20%;
    float: left;
    background-color: turquoise;
}
#right{
    width: 80%;
    float: right;
    background-color: wheat;
}
#boxTitle{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
#boxContent{
    border: 1px solid black;
    padding: 5px;
    border-top: none;
    text-align: center;
}
#sayHi{
    text-align: right;
}
#listMessages{
    height: 600px;
    background-color: thistle;
}
#txtMessage{
    background-color: transparent;
    border: 1px solid black;
}