body{
    background-color: rgb(235, 226, 226);
}
#wrapper{
    width: 1500px;
    margin: auto;
}
#chatForm{
    position: relative;
    width: 1500px;
    margin: auto;
}
#newRoom{
    position: absolute;
    margin: auto;
    width: 400px;
    height: 270px;
    top: 100px;
    left: 550px;
    background-color: darkseagreen;
}
#form-newRoom{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 20px;
}
.btn-control{
    width: 300px;
    display: flex;
}
#txtUsername{
    background-color: transparent;
    border: 1px solid black;
}

#left,#right{
    min-height: 650px;
}
#left{
    width: 20%;
    height: 100%;
    float: left;
    background-color: turquoise;
}
#right{
    width: 80%;
    float: right;
    background-color: wheat;
}
#boxTitle{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
#boxContent{
    border: 1px solid black;
    padding: 5px;
    border-top: none;
    text-align: center;
}
#sayHi{
    text-align: right;
}
#listMessages{
    height: 650px;
    background-color: #ffffff;
}
#txtMessage{
    background-color: transparent;
    border: 1px solid black;
    width: 500px;
}
#btnSendMessage{
    height: 38px;
}
.form-message{
    display: flex;
    width: 600px;
}

